// Custom styles.

//压缩的字体，
@font-face {
 font-family: STLiti;
 src: url("/images/STLITI.TTF");
}

//顶部条
.headband {
  height: 2px;
}

//参考：https://github.com/Lruihao/lruihao.github.io/blob/hexo/themes/next-old/source/css/_custom/custom.styl
//背景图
body { 
    background-image: url(/images/background.jpg);
    background-attachment: fixed; // 不随屏幕滚动而滚动fixed,scroll,inherit
    background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
    background-size: cover; // contain等比例铺满屏幕 //cover拉伸铺满
    background-position: bottom;//x,y轴调整
    +mobile(){
      background-image: url(/images/background.jpg);
      background-size: cover;
    }
}

//首部背景
.site-meta {
    height: 100px;
    background-image: url("/images/site-meta.jpg");
    background-size: cover;
}

//文章下面的标签样式
/*
.posts-expand .post-tags a{
	box-shadow:0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	transition:.2s ease-out;
	padding: 3px 5px;
	margin: 5px;
	background: #eee;
	border-bottom: none;
	border-radius: 10px;
}
*/

//侧边栏信息样式修改
.sidebar{
  background: none;
  border-radius: 10px;
}
.sidebar-inner {
  padding: 10px 10px 10px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

//尾部
.footer {
  font-size: 15px;
  //bottom: -28px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);

  +mobile() {
    font-size: 12px;
    border-radius: 0px;
    bottom: -30px;
    background: rgba(255, 255, 255, 0.1);
  }
}


//去掉图片边框
//.posts-expand .post-body img {
//    border: 0px;
//}

//页面样式修改
/*
.content-wrap {
  border-radius: 10px;
  +mobile(){
    border-radius: 0px;
  }
}
*/


//评论区
/*
.comments{
  padding: 20px 20px 20px;
  //margin: 60px 0 0 0;
  -webkit-box-shadow: 0 0 14px #cacbcb;
  -moz-box-shadow: 0 0 14px #cacbcb;
  box-shadow: 0 0 14px #cacbcb;
  background: rgba(255,255,255,0.3);
  margin: 0;
  border-radius: 10px;
  +mobile(){
    margin-bottom: 0px;
    padding: 0px 0px 0px;
    -webkit-box-shadow: 0 0 0px rgba(255,255,255,0);
    -moz-box-shadow: 0 0 0px rgba(255,255,255,0);
    box-shadow: 0 0 0px rgba(255,255,255,0);
    background: rgba(255,255,255,0)
    border-radius: 0px;
  }
}
*/
//参考 END//


//参考：https://github.com/Vincentqyw/blog-code/blob/master/themes/next/source/css/_custom/custom.styl
// 更改文中链接的颜色
.post-body a {
  color: $orange;
  text-decoration: none;
  border-bottom: 1;
  &:hover {
    color: $blue;
    //text-decoration: underline;
  }
}

// 右下角返回顶部按钮样式
.back-to-top:hover {
    color: rgb(136, 255, 13);
	background-color: rgba(0, 0, 0, 0.75); //black
}

// 文章```代码块顶部样式
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
    color: rgb(80, 115, 184);
}


//修改文章内code样式
code {
	color:#c7254e;
	background:#f9f2f4;
	border:1px solid #d6d6d6;
}

// [Read More]按钮样式: 黑底绿字
.post-button .btn:hover {
	
    color: rgb(136, 255, 13) !important;
	background-color: rgba(0, 0, 0, 0.75); //black
} 

// 页面底部页码
/*
.pagination .page-number.current {
	
    border-radius: 100%;
    background-color: rgba(100, 100, 100, 0.75);
}*/

// 页面底部页码, 去除鼠标置于上方时，数字上方的线
.pagination .prev, .pagination .next, .pagination .page-number {
    margin-bottom: 10px;
    border: none;
	color: rgb(1, 1, 1);
}

// 页面底部页码，鼠标置于上方，黑底绿字
.page-number:hover,.page-number:active{
	color: rgb(136, 255, 13);
	border-radius: 0%;
    //background-color: rgba(255, 0, 100, 0.75); //品红
	background-color: rgba(0, 0, 0, 0.75); //black
}

//参考 END//


/* 版权声明的样式，暂时先不用
.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #FF1700;
    background-color: #F9F9F9;
    list-style: none;
}
*/


/*网页加载条*/
/* This is a compiled file, you should be editing the file in the templates directory */
/*
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1e92fb;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #e90f92, 0 0 5px #e90f92;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #e90f92;
  border-left-color: #e90f92;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
} */
/*网页加载条 END*/